<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
        <title>{% block title %}Localuri{% endblock %} - localuri</title>
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        {% stylesheets '%kernel.root_dir%/../vendor/twitter/bootstrap/less/bootstrap.less' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

        {% stylesheets
            'css/backoffice/datepicker.css'
        %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

        {% javascripts
			'//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js'
			'//ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js'
			'js/bootstrap-datepicker.js'
		%}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    <!-- Navbar
    ================================================== -->
    {% block navigation %}
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="#"></a>
                <div class="nav-collapse">
                    <ul class="nav">
                        <li><a href="{{ path('homepage') }}">Acasa</a></li>
                        <li><a href="#">Despre noi</a></li>
                        <li><a href="#">Contact</a></li>
                        {% if app.user %}
                            <li><a href="{{ path('lcl_user_myAccount') }}">Contul meu</a></li>
	                        {% if attribute(app.user, 'hasRole', {'role':'ROLE_SUPER_ADMIN'}) %}
	                            <li><a href="{{ path('admin_homepage') }}">ADMIN PANEL</a></li>
	                        {% endif %}
                        {% else %}
                            <li><a href="{{ path('fos_user_security_login') }}">Login</a></li>
                        {% endif %}
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>
    {% endblock %}

    {% block flash_notifications %}
        <div id="flash-message-success">{% for flashMessage in app.session.flashbag.get('success') %} {{ flashMessage }} {% endfor %}</div>
        <div id="flash-message-error">{% for flashMessage in app.session.flashbag.get('error') %} {{ flashMessage }} {% endfor %}</div>
    {% endblock %}
    <!-- Masthead
   ================================================== -->
    <header class="jumbotron subhead" id="overview">
        <div class="container">
            <h1>&nbsp;</h1>
            <h1>e-Localuri</h1>
            <p class="lead">Cele mai tari localuri din România</p>
        </div>
    </header>


    <div class="bs-docs-canvas">
        <div class="container">

            <div class="fluid-grid">
                <div class="row">
                    <div class="span12">
                        <div class="row-fluid">
                            <div class="span9">
                                {% block body %}{% endblock %}
                            </div>
                            <div class="span3">
                                {% block sidebar %}{% endblock %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>  <!-- /container -->

        <footer class="footer">
            <div class="container">
                {% block footer %}
                    Portal localuri - cele mai mişto localuri din România
                {% endblock %}
            </div>
        </footer>

    </div>  <!-- /bs-docs-canvas -->
        {% block javascripts %}{% endblock %}
    </body>
</html>