{% extends 'LocaluriLogBundle:Log:layout.html.twig' %}

{% block body %}
<h1>Log record</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Operation</th>
            <td>{{ entity.operation }}</td>
        </tr>
        <tr>
            <th>Ip</th>
            <td>{{ entity.ip }}</td>
        </tr>
        <tr>
            <th>User</th>
            <td>{{ entity.user }}</td>
        </tr>
        <tr>
            <th>Entity</th>
            <td>{{ entity.entityName }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ entity.description }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('lcl_log_admin') }}">
            Back to the list
        </a>
    </li>
    <li>
        <form action="{{ path('lcl_log_admin_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}